:root {
    /* Stater colors */
    --st-rgb-color-primary: 86 33 120;
    --st-rgb-color-secondary: 248 167 25;

    /* md-docs colors */
    --rgb-brand: var(--st-rgb-color-primary);
    --rgb-brand-secondary: var(--st-rgb-color-secondary);
    --rgb-heading: var(--st-rgb-color-secondary);

    /* Typography */
    --font-family-base: Inter, sans-serif;
    --line-height-base: 1.75;
    --font-family-heading: Roboto Slab, sans-serif;
}

